body{
  color: #4F3F32;
  background-color: #D1BE94;
  font-family: Georgia, Arial, sans-serif;
  font-size: 0.8em;
  margin: 0px;
  padding: 0px;
}

table{
  font-family: Georgia, Arial, sans-serif;
  font-size: 1em;
  margin: 0px;
  padding: 0px;
}

input{
	margin-top:3px;
	margin-bottom:3px;
	width:100px;
	font-size: 0.9em;
}

a:link {color: 	#383838  ;}      /* unvisited link */
a:visited {color:#383838  ;}  /* visited link */
a:hover {color:#808080;}  /* mouse over link */
a:active {color:#383838  ;}  /* selected link */ 

#mainTable{
  top: 20px;
  left: 50%;
  margin-left:-375px;
  width:750px;
  position: absolute;
  background-color: #EBE2D1;
  border: 5px solid #FFFFFF;
}

.logo{
	top: 30px;
	left: 43%;
	position:absolute;
}

.navigation{
	clear:both;
	height:130px;
	border-bottom:1px solid white;
	margin:20px;
}

.content{
	float:left;
	margin:20px;
}

.widgets{
	background-color:#EBE2D1;
	top:20px;
	float:right;
	position:absolute;
	left:77%;
}

.pictureBox{
	float:left;
	width:200px;
	height:200px;
	border:1px solid white;
	margin:5px;
}

.infoBox{
	float:left;
	width:200px;
	height:200px;
	border:1px solid white;
	margin:5px;
}

.totalBox{
	width:680px;
	height:425px;
	border:1px solid white;
}

.descriptionBox{
	float:right;
	margin:5px;
	width:435px;
	height:400px;
	border:1px solid white;
	padding-left:10px;
	padding-right:10px;
	padding-top:10px;
}

li{
	list-style-type: none;
}

.infoUL{
	padding:12px;
}

.loginUL{
	margin:2px;
}