body{
	margin:20px 20px 20px 20px;
}

#mainTable{
	width:1080px;
	height:100%;
	display:block;
	margin: 0 auto;
}

.bigTable{
	background-color:#F4F7F6;
	border:1px solid black;
	
}

.navigation{
	height:100px;
	border-bottom:1px solid black;
	margin:20px;
	background-image:url('logo.jpg');
	background-repeat:no-repeat;
	background-position:left top;
}

.content{
	float:left;
	margin:20px;
}

.pictureBox{
	float:left;
	width:200px;
	height:200px;
	border:1px solid black;
	margin:5px;
}

.infoBox{
	float:left;
	width:200px;
	height:200px;
	border:1px solid black;
	margin:5px;
}

.totalBox{
	width:680px;
	height:425px;
	border:1px solid black;
}

.descriptionBox{
	float:right;
	margin:5px;
	width:456px;
	height:412px;
	border:1px solid black;
}

.widgets{
	background-color:#B6F0FF;
	width:300px;
	height:300px;
	border:1px solid black;
	float:right;
	margin:20px;
	padding-left:15px;
}

li{
	list-style-type: none;
}

.infoUL{
	padding:12px;
}